/*

Jappix - An open social platform
This is the archives CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 06/11/10

*/

#archives .content {
	padding: 10px 0 10px 0;
}

#archives .filter {
	background-color: #d3dee1;
	border-right: 1px solid #a9bbbf;
	width: 204px;
	padding: 12px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	float: left;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}

#archives .filter .search,
#archives .filter .friend {
	margin-bottom: 12px;
}

#archives .filter input,
#archives .filter select {
	margin-top: 2px;
	float: none;
}

#archives .filter select {
	width: 205px;
}

#archives .filter .friend select {
	height: 195px;
}

#archives .logs {
	overflow: auto;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 235px;
}
