/*

Jappix - An Open Î¼Social Platform
This is the channel CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Vanaryon
Contact: http://project.jappix.com/contact
Last revision: 17/07/10

*/

#channel {
	background-color: #f4f4f4 !important;
}

#channel .channel-header {
	background-color: #e0e7e8;
	border-bottom: 1px solid #c8c8c8;
	color: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 6px;
	height: 80px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}

#channel .channel-header .avatar-container {
	text-align: center;
	margin: 2px 0 0 10px;
	height: 76px;
	width: 76px;
}

#channel .channel-header img {
	max-height: 76px;
	max-width: 76px;
}

#channel .channel-header div.update {
	position: absolute;
	top: 11px;
	left: 115px;
	right: 15px;
	bottom: 15px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

#channel .channel-header p {
	font-size: 0.9em;
	margin-bottom: 10px;
}

#channel .channel-header h2 {
	font-size: 1.6em;
	margin-bottom: 10px;
	color: #232323;
}

#channel .channel-header a {
	font-size: 0.9em;
	color: #232323;
}

#channel div.update input {
	height: 20px;
	width: 92%;
	padding: 8px;
}

#channel .one-microblog-icon {
	position: absolute;
	top: 38px;
	right: 0;
}

#channel div.update .one-microblog-icon,
#channel div.update .postit {
	width: 16px;
	height: 16px;
	display: block;
}

#channel div.update .attach {
	background-position: -112px -58px;
}

#channel div.update .unattach {
	background-position: -128px -58px;
	display: none;
}

#attach {
	position: absolute;
	width: 263px;
	margin-left: -117px;
	color: white;
	z-index: 9998;
	text-align: left;
	font-size: 0.8em;
	display: none;
}

#attach p {
	margin-bottom: 6px !important;
}

.attach-subarrow {
	background-position: 0 -234px;
	opacity: 0.8;
	height: 10px;
	width: 18px;
	margin-left: 117px;
}

.attach-subitem {
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
	height: 48px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.attach-p {
	font-weight: bold;
	font-size: 1em !important;
	float: left;
}

.attach-close {
	float: right;
	font-size: 10px;
}

.attach-close:hover {
	cursor: pointer;
}

#channel .channel-content {
	position: absolute;
	top: 93px;
	left: 0;
	right: 0;
	bottom: 29px;
	overflow: auto;
}

#channel .one-update {
	margin: 14px;
	padding: 6px;
	border-bottom: 1px dotted #d0d0d0;
	min-height: 50px;
	font-size: 0.9em;
	color: black;
	position: relative;
}

#channel .one-update .avatar-container {
	text-align: center;
	margin-right: 20px;
	float: left;
	height: 50px;
	width: 50px;
}

#channel .one-update img {
	max-height: 50px;
	max-width: 50px;
}

#channel .one-update div.body {
	opacity: 0.8;
}

#channel .one-update div.body:hover {
	opacity: 1;
}

#channel .one-update p {
	display: block;
	margin: 0 12px 3px 0;
}

#channel .one-update p b:hover {
	cursor: pointer;
	text-decoration: underline;
}

#channel .one-update p.infos {
	font-size: 0.9em;
}

#channel .one-update p.file {
	font-size: 0.9em;
	margin: 6px 0 5px 75px;
}

#channel .one-update p.file a {
	padding-left: 22px;
}

#channel p.file a.audio {
	background-position: -784px -724px;
}

#channel p.file a.video {
	background-position: -784px -766px;
}

#channel p.file a.image {
	background-position: -784px -745px;
}

#channel p.file a.document {
	background-position: -784px -787px;
}

#channel p.file a.package {
	background-position: -784px -808px;
}

#channel p.file a.other {
	background-position: -784px -829px;
}

#channel .one-update p.file a {
	text-decoration: underline;
}

#channel a.more {
	margin: -6px 14px 6px 14px;
	padding: 6px;
	font-size: 0.9em;
	color: black;
	display: block;
	visibility: hidden;
}

#channel a.mbtool {
	display: block;
	position: absolute;
	right: 0;
}

#channel a.mbtool:hover {
	text-decoration: none;
}

#channel a.mbtool.profile {
	bottom: 24px;
}

#channel a.mbtool.repost,
#channel a.mbtool.remove {
	bottom: 6px;
}

#channel .channel-footer {
	background-color: #e0e7e8;
	border-top: 1px solid #c8c8c8;
	color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 6px;
	height: 16px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
}

#channel .channel-footer div {
	float: left;
	margin-left: 5px;
	padding-left: 24px;
	font-size: 0.85em;
	width: 500px !important;
}

#channel .channel-footer .sync {
	background-position: 0 -805px;
	display: none;
}

#channel .channel-footer .unsync {
	background-position: 0 -831px;
	display: none;
}
