/*

Jappix - An open social platform
This is the chat-engine CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 12/11/10

*/

#chat-engine {
	background-color: #f4f4f4;
	position: absolute;
	top: 40px;
	bottom: 6px;
	right: 6px;
	left: 6px;
	z-index: 8;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#chat-engine .top {
	background-color: #e0e7e8;
	border-bottom: 1px solid #c8c8c8;
	color: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 6px;
	height: 80px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}

#chat-engine .top .avatar-container {
	text-align: center;
	margin: 2px 0 0 10px;
	height: 76px;
	width: 76px;
	float: left;
}

#chat-engine .top .avatar {
	max-height: 76px;
	max-width: 76px;
}

#chat-engine .top .name {
	text-align: right;
	padding: 7px;
}

#chat-engine p.bc-name {
	font-size: 2.3em;
	margin-bottom: 3px;
}

#chat-engine p.bc-infos {
	font-size: 0.85em;
	height: 16px;
	overflow: hidden;
	float: right;
}

#chat-engine p.bc-infos a {
	color: #3d3d3d;
	text-decoration: underline;
}

#chat-engine div.bc-pep {
	float: right;
	margin-left: 6px;
}

#chat-engine div.bc-pep a {
	height: 16px;
	width: 16px;
	margin-left: 4px;
	float: left;
}

#chat-engine div.bc-pep a:hover {
	cursor: default;
}

#chat-engine div.bc-pep a[href]:hover {
	cursor: pointer;
}

#chat-engine .one-chatstate {
	background-color: rgba(234,234,234,0.8);
	color: #3f3f3f;
	padding: 3px 2px 2px 8px;
	position: absolute;
	bottom: 93px;
	left: 0;
	right: 0;
	z-index: 30;
	font-size: 0.75em;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

#chat-engine .content {
	color: #353535;
	font-size: 0.9em;
	padding: 12px 14px 0;
	position: absolute;
	top: 93px;
	left: 0;
	right: 0;
	bottom: 29px;
	overflow: auto;
	box-shadow: 0 3px 10px #e8e8e8 inset;
	-moz-box-shadow: 0 3px 10px #e8e8e8 inset;
	-webkit-box-shadow: 0 3px 10px #e8e8e8 inset;
}

#chat-engine .content a {
	color: #353535;
	text-decoration: underline;
}

#chat-engine .groupchat-content {
	right: 185px !important;
}

#chat-engine .list {
	color: #919191;
	margin: 3px;
	display: block;
	padding: 10px;
	font-size: 13px;
	float: right;
	width: 160px;
	margin-top: 0;
	top: 88px;
	right: 0;
	bottom: 100px;
}

#chat-engine .chat .content,
#chat-engine .chat .list {
	overflow: auto;
	bottom: 101px;
}

#chat-engine .chat .content {
	padding-bottom: 12px;
}

#chat-engine .list .role {
	display: none;
}

#chat-engine .list .title {
	font-weight: bold;
	color: #464646;
	padding: 0;
}

#chat-engine .list .user {
	border-top: 1px solid #969696;
	border-bottom: 1px solid #969696;
	background: #f8f8f8;
	color: #444444;
	margin: 0 -10px 4px -10px;
	height: 32px;
	overflow: hidden;
}

#chat-engine .list .user:hover {
	background: #f4f4f4;
	cursor: pointer;
}

#chat-engine .list .user:active {
	background: #f1f1f1;
}

#chat-engine .list .user .name {
	float: left;
	width: 105px;
	height: 18px;
	overflow: hidden;
	margin: 7px 0 5px 3px;
	padding-left: 18px;
}

#chat-engine .list .user .avatar-container {
	text-align: center;
	float: right;
	height: 32px;
	width: 32px;
}

#chat-engine .list .user img {
	max-height: 32px;
	max-width: 32px;
}

#chat-engine .chat-engine-chan {
	display: none;
}

#chat-engine .one-line .me {
	color: #1e4a70;
}

#chat-engine .one-line .him {
	color: #801e1e;
}

#chat-engine .user-message {
	margin-bottom: 3px;
}

#chat-engine .system-message {
	color: #094209;
	margin-bottom: 3px;
}

#chat-engine .system-message a {
	color: #094209;
}

#chat-engine .my-nick {
	font-weight: bold;
}

#chat-engine .old-message {
	font-size: 11px;
	margin-bottom: 1px;
}

#chat-engine .text {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#chat-engine .footer {
	background-color: #e0e7e8;
	border-top: 1px solid #c8c8c8;
	color: black;
	position: absolute;
	left: 0;
	right: 0;
	padding: 6px;
	height: 16px;
}

#chat-engine .chat .footer {
	bottom: 63px;
	border-bottom: 1px solid #c8c8c8;
}

#chat-engine .chat-tools-content {
	height: 16px;
	width: 16px;
	margin-right: 6px;
	float: left;
}

#chat-engine .tools-tooltip {
	display: block;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	overflow: hidden;
	float: left;
}

#chat-engine .text .chat-tools-smileys {
	margin-left: 4px;
}

#chat-engine .text .tools-smileys {
	background-position: 0 -388px;
}

#chat-engine .text .tools-style {
	background-position: 0 -700px;
}

#chat-engine .text .tools-save {
	background-position: 0 -719px;
}

#chat-engine .text .tools-clear {
	background-position: 0 -739px;
}

#chat-engine .text .tools-infos {
	background-position: 0 -758px;
}

#chat-engine .text .tools-add {
	display: none;
}

#chat-engine .text .tools-mucadmin {
	background-position: 0 -777px;
	display: none;
}

#chat-engine .bubble-style label.bold {
	font-weight: bold;
}

#chat-engine .bubble-style label.italic {
	font-style: italic;
}

#chat-engine .bubble-style label.underline {
	text-decoration: underline;
}

#chat-engine .bubble-style a.color {
	height: 18px;
	width: 18px;
	border: 1px solid white;
	margin: 6px 5px 0 0;
	float: left;
	opacity: 0.6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#chat-engine .bubble-style a.color:hover {
	opacity: 0.7;
}

#chat-engine .bubble-style a.color.selected {
	opacity: 1;
	border: 1px solid #ffb20d;
}

#chat-engine .text textarea {
	padding: 5px 0;
	margin-top: 3px;
	height: 52px;
	width: 100%;
	font-size: 1.2em;
}

#chat-engine .muc-ask {
	background-color: #d7e3e5;
	border: 1px solid #a7bdc1;
	height: 63px;
	font-size: 0.9em;
}

#chat-engine .muc-ask label {
	color: #224249;
	margin: 23px 10px 0 16px;
	font-weight: bold;
}

#chat-engine .muc-ask input {
	width: 200px;
	margin: 19px 10px 0 10px;
	padding: 3px;
}

#chat-engine .tooltip {
	position: absolute;
	bottom: 20px;
	margin-left: -13px;
	z-index: 40;
	font-size: 0.8em;
	color: white;
}

#chat-engine .tooltip a {
	color: white;
	text-decoration: underline;
}

.tooltip-subitem {
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
	width: 200px;
	height: 110px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.tooltip-subarrow {
	background-position: 0 -251px;
	opacity: 0.8;
	height: 10px;
	width: 18px;
	margin-left: 12px;
}

.tooltip .tooltip-right-top {
	margin-bottom: 8px;
	font-weight: bold;
}

.tooltip label {
	width: 105px;
	float: left;
	clear: both;
	margin-bottom: 4px;
}

.tooltip label.select {
	margin-top: 5px;
}

.tooltip input,
.tooltip select {
	float: left;
}

.tooltip select {
	width: 100px;
}

.tooltip .tooltip-actionlog:hover {
	cursor: pointer;
	text-decoration: underline;
}
