/*

Jappix - An open social platform
This is the collections CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 06/11/10

*/

#collections .content {
	padding: 10px 0 10px 0;
}
