/*

Jappix - An open social platform
This is the collections CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 13/08/10

*/

#collections {
	display: none;
}

#collections .content {
	padding: 10px 0 10px 0;
}
