/*

Jappix - An open social platform
This is the collections CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 20/11/10

*/


