/*

Jappix - An open social platform
This is the discovery CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Vanaryon
Contact: http://project.jappix.com/contact
Last revision: 21/11/10

*/

#discovery .content {
	padding: 10px 0 10px 0;
}

#discovery .content p {
	margin: 5px 10px 5px 10px;
	text-align: justify;
	font-size: 0.85em;
}

#discovery .discovery-head {
	width: 606px;
	height: 24px;
	margin: 0 10px 10px 10px;
	padding: 6px;
	background: #d9e4e7;
	border: 1px #a9bbbf solid;
}

#discovery .disco-server-text {
	float: left;
	font-size: 0.9em;
	margin: 3px;
}

#discovery .disco-server-input {
	float: right;
	width: 200px;
	padding: 2px;
	height: 18px;
	float: right;
	margin-right: 10px;
	padding: 2px;
}

#discovery .disco-category {
	display: none;
	margin-bottom: 22px;
}

#discovery .disco-category-title {
	font-weight: bold;
}
