/*

Jappix - An open social platform
This is the fonts CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Vanaryon
Last revision: 09/09/12

*/

@font-face {
	font-family: Myriad Web Pro;
	src: url(../ttf/MyriadWebPro.ttf) format('truetype');
}

@font-face {
	font-family: Myriad Web Pro;
	font-style: italic;
	src: url(../ttf/MyriadWebPro-Italic.ttf) format('truetype');
}

@font-face {
	font-family: Myriad Web Pro;
	font-weight: bold;
	src: url(../ttf/MyriadWebPro-Bold.ttf) format('truetype');
}