/*

Jappix - An open social platform
This is the fonts CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Vanaryon
Last revision: 20/10/12

*/

@font-face {
	font-family: PT Sans;
	src: url(../ttf/PTSans.ttf) format('truetype');
}

@font-face {
	font-family: PT Sans;
	font-style: italic;
	src: url(../ttf/PTSans-Italic.ttf) format('truetype');
}

@font-face {
	font-family: PT Sans;
	font-weight: bold;
	src: url(../ttf/PTSans-Bold.ttf) format('truetype');
}

@font-face {
	font-family: PT Sans;
	font-weight: bold;
	font-style: italic;
	src: url(../ttf/PTSans-Bold-Italic.ttf) format('truetype');
}