/*

Jappix - An open social platform
This is the fonts CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Last revision: 05/02/13

*/

@font-face {
	font-family: 'PT Sans';
	src: url(../fonts/eot/ptsans.eot);
	src: url(../fonts/eot/ptsans.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/woff/ptsans.woff) format('woff'),
	     url(../fonts/ttf/ptsans.ttf) format('truetype'),
	     url(../fonts/svg/ptsans.svg) format('svg');
}

@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	src: url(../fonts/eot/ptsansitalic.eot);
	src: url(../fonts/eot/ptsansitalic.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/woff/ptsansitalic.woff) format('woff'),
	     url(../fonts/ttf/ptsansitalic.ttf) format('truetype'),
	     url(../fonts/svg/ptsansitalic.svg) format('svg');
}

@font-face {
	font-family: 'PT Sans';
	font-weight: bold;
	src: url(../fonts/eot/ptsansbold.eot);
	src: url(../fonts/eot/ptsansbold.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/woff/ptsansbold.woff) format('woff'),
	     url(../fonts/ttf/ptsansbold.ttf) format('truetype'),
	     url(../fonts/svg/ptsansbold.svg) format('svg');
}

@font-face {
	font-family: 'PT Sans';
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/eot/ptsansbolditalic.eot);
	src: url(../fonts/eot/ptsansbolditalic.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/woff/ptsansbolditalic.woff) format('woff'),
	     url(../fonts/ttf/ptsansbolditalic.ttf) format('truetype'),
	     url(../fonts/svg/ptsansbolditalic.svg) format('svg');
}