/*

Jappix - An open social platform
These are all the IE compliant CSS classes

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Last revision: 06/02/11

*/

#board .one-board.error {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0f1a0a0,endColorstr=#C0f1a0a0);
	zoom: 1;
}

#board .one-board.info {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0f6f4cb,endColorstr=#C0f6f4cb);
	zoom: 1;
}

.popup,
.finish,
#reconnect .pane,
#home .locale,
#home .obsolete,
#home .main,
#home .notice.simple,
#home .notice.simple .title,
#buddy-list,
#my-infos,
#right-content,
#install,
#install-top .step,
#install-buttons input,
#manager,
#manager-buttons input {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0141414,endColorstr=#C0141414);
	zoom: 1;
}

#home .locale li a:hover,
#home .locale li a:focus,
.finish:hover,
.finish:focus,
.finish:active,
.notifications-content .one-notification:hover,
.notifications-content .one-notification:active,
#install-buttons input:hover,
#install-buttons input:focus,
#install-buttons input:active,
#manager-buttons input:hover,
#manager-buttons input:focus,
#manager-buttons input:active {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33141414,endColorstr=#33141414);
	zoom: 1;
}

#top-content .music:active,
#top-content .notifications:active {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0f1f5f6,endColorstr=#C0f1f5f6);
	zoom: 1;
}

#top-content .music:hover,
#top-content .notifications:hover,
#top-content .music:focus,
#top-content .notifications:focus {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0ebf2f4,endColorstr=#C0ebf2f4);
	zoom: 1;
}

#top-content .tools,
#top-content .actived,
#top-content .actived:hover,
#top-content .actived:active,
#top-content .actived:focus,
#top-content .actived:focus {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0e8f1f3,endColorstr=#C0e8f1f3);
	zoom: 1;
}

.tooltip-subitem,
.tools-content-subitem,
.buddy-infos-subitem,
.buddy-conf-subitem,
.tooltip-subitem,
.attach-subitem {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0000000,endColorstr=#C0000000);
	zoom: 1;
}

.general-wait-content {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0ffffff,endColorstr=#C0ffffff);
	zoom: 1;
}

#page-engine .chatstate {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0eaeaea,endColorstr=#C0eaeaea);
	zoom: 1;
}
