/*

Jappix - An open social platform
These are all the IE compliant CSS classes

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 10/11/10

*/

#board .one-board.error {
	background-color: #f1a0a0 !important;
}

#board .one-board.info {
	background-color: #f6f4cb !important;
}

.popup,
.finish,
#reconnect .pane,
#home .locale,
#home .main,
#buddy-list,
#my-infos,
#chat-engine,
#install,
#install-top .step,
#install-buttons input,
#manager,
#manager-buttons input {
	background-color: #141414 !important;
}

#home .locale li a:hover,
.finish:hover,
.finish:active,
.notifications-content .one-notification:hover,
.notifications-content .one-notification:active,
#install-buttons input:hover,
#install-buttons input:active,
#manager-buttons input:hover,
#manager-buttons input:active {
	background-color: #333333 !important;
}

#top-content .music:active,
#top-content .notifications:active {
	background-color: #f1f5f6 !important;
}

#top-content .music:hover,
#top-content .notifications:hover {
	background-color: #ebf2f4 !important;
}

#top-content .tools,
#top-content .actived,
#top-content .actived:hover,
#top-content .actived:active {
	background-color: #e8f1f3 !important;
}

.tooltip-subitem,
.tools-content-subitem,
.buddy-infos-subitem,
.buddy-conf-subitem,
.my-infos-text-subitem,
.tooltip-subitem,
.attach-subitem {
	background-color: #000000 !important;
}

.general-wait-content {
	background-color: #ffffff !important;
}

#vcard .infos {
	background-color: #ffef68 !important;
}

#chat-engine .chatstate {
	background-color: #eaeaea !important;
}
