/*

Jappix - An open social platform
This is the Jappix Mini legacy IE CSS stylesheet

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Last revision: 10/03/11

*/

#jappix_mini {
	position: absolute !important;
	bottom: auto !important;
	top: expression(((document.documentElement.clientHeight - 26) + (ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop)) + 'px') !important;
}

#jappix_mini .jm_images {
	background-image: url(../img/sprites/mini.gif) !important;
}

#jappix_mini a.jm_button {
	width: 1px !important;
}
