/*
 
Jappix - An open social platform
This is the others CSS stylesheet for Jappix
 
-------------------------------------------------
 
License: AGPL
Author: Vanaryon
Last revision: 31/08/11
 
*/
 
#audio {
        display: none;
}
 
#top-content {
        position: absolute;
        right: 5px;
        left: 5px;
        top: 0;
        min-width: 860px;
        z-index: 50;
}
 
#main-content {
        position: absolute;
        top: 34px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        min-width: 850px;
        min-height: 450px;
}
 
#left-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 248px;
}
 
#right-content,
#suggest {
        background-color: rgb(20,20,20);
        background-color: rgba(20,20,20,0.85);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 260px;
        z-index: 10;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 0 0 6px #5c5c5c;
        -moz-box-shadow: 0 0 6px #5c5c5c;
        -webkit-box-shadow: 0 0 6px #5c5c5c;
}
 
#general-wait {
	background: url(../img/others/blank.gif) repeat;
    z-index: 10000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 
.general-wait-content {
        background-color: rgb(255,255,255);
        background-color: rgba(255,255,255,0.9);
        background-position: 8px 8px;
        padding: 8px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 0 0 2px #000;
        -moz-box-shadow: 0 0 2px #000;
        -webkit-box-shadow: 0 0 2px #000;
}
 
.inbox-hidable,
.options-hidable,
.pep-hidable,
.pubsub-hidable,
.archives-hidable,
.commands-hidable,
.privacy-hidable,
.xmpplinks-hidable {
        display: none;
}
 
#reconnect .pane {
        background-color: rgb(20,20,20);
        background-color: rgba(20,20,20,0.85);
        color: white;
        padding: 25px;
        z-index: 10000;
        text-shadow: 0 1px 1px black;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: 0 0 35px #232323;
        -moz-box-shadow: 0 0 35px #232323;
        -webkit-box-shadow: 0 0 35px #232323;
}
 
#reconnect .pane a {
        margin-top: -4px;
        float: right;
}

#suggest {
	width: 350px;
	height: 350px;
	margin-top: -175px;
	margin-left: -175px;
	left: 50%;
	top: 50%;
}

#suggest .title {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 2px 2px black;
	position: absolute;
	top: 14px;
	left: 18px;
	right: 18px;
}

#suggest .content {
	background: #e4eef9;
	padding: 12px 12px 0 12px;
	position: absolute;
	left: 8px;
	right: 8px;
	top: 45px;
	bottom: 52px;
	overflow: auto;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 10px black;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
}

#suggest .content a.one {
	background-color: #e4eef9;
	border: 1px solid #ccdbde;
	margin-bottom: 8px;
	padding: 8px 12px;
	text-decoration: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: block;
}

#suggest .content a.one:hover,
#suggest .content a.one:focus {
	border: 1px solid #93c5fa;
}

#suggest .content a.one:active {
	border: 1px solid #419afa;
}

#suggest .content a.one.active {
	background-color: #f1f6fd;
	border: 1px solid #9dc4fc;
}

#suggest .content a.one span.icon,
#suggest .content a.one span.state {
	height: 16px;
	width: 16px;
}

#suggest .content a.one span.icon {
	background-position: 0 -1082px;
	margin: 0 15px 0 0;
	float: left;
}

#suggest .content a.one span.name {
	font-weight: bold;
	height: 16px;
	width: 250px;
	overflow: hidden;
	float: left;
}

#suggest .content a.one span.state {
	background-position: 0 -1661px;
	margin: -6px -16px 0 0;
	display: none;
	float: right;
}

#suggest .content a.one.active span.state {
	display: block;
}

#suggest .content a.one span.clear {
	display: block;
	clear: both;
}

#suggest a.next {
	position: absolute;
	bottom: 13px;
	right: 8px;
}