/*

Jappix - An Open μSocial Platform
This is the others CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 17/07/10

*/

#data, #audio {
	display: none;
}

#talk {
	display: none;
	min-height: 565px;
	min-width: 1000px;
}

#top-content {
	position: absolute;
	right: 10px;
	left: 10px;
	top: 0px;
	min-width: 990px;
	z-index: 50;
}

#main-content {
	position: absolute;
	top: 40px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

#left-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 195px;
}

#right-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 240px;
	min-height: 515px;
	min-width: 750px;
}
