/*

Jappix - An open social platform
This is the others CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Vanaryon
Contact: http://project.jappix.com/contact
Last revision: 20/12/10

*/

#audio {
	display: none;
}

#top-content {
	position: absolute;
	right: 10px;
	left: 10px;
	top: 0;
	min-width: 860px;
	z-index: 50;
}

#main-content {
	position: absolute;
	top: 36px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	min-width: 850px;
	min-height: 450px;
}

#left-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 245px;
}

#right-content {
	background-color: rgba(20,20,20,0.7);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 270px;
	z-index: 10;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 10px #4e4e4e;
	-moz-box-shadow: 0 0 10px #4e4e4e;
	-webkit-box-shadow: 0 0 10px #4e4e4e;
}

#general-wait {
	z-index: 10000;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.general-wait-content {
	background-color: rgba(255,255,255,0.9);
	background-position: 8px 8px;
	padding: 8px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
}

.inbox-hidable,
.options-hidable,
.pep-hidable,
.pubsub-hidable,
.archives-hidable,
.commands-hidable {
	display: none;
}

#reconnect .pane {
	background-color: rgba(20,20,20,0.8);
	color: white;
	padding: 25px;
	z-index: 10000;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	box-shadow: 0 0 35px #232323;
	-moz-box-shadow: 0 0 35px #232323;
	-webkit-box-shadow: 0 0 35px #232323;
}

#reconnect .pane a {
	margin-top: -4px;
	float: right;
}
