/*

Jappix - An open social platform
This is the others CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 06/11/10

*/

#data, #audio {
	display: none;
}

#talk {
	display: none;
}

#top-content {
	position: absolute;
	right: 12px;
	left: 12px;
	top: 0;
	min-width: 860px;
	z-index: 50;
}

#main-content {
	position: absolute;
	top: 42px;
	left: 12px;
	right: 12px;
	bottom: 12px;
	min-width: 850px;
	min-height: 450px;
}

#left-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 235px;
	max-height: 650px;
}

#right-content {
	background-color: rgba(20,20,20,0.7);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 270px;
	z-index: 10;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 10px #4e4e4e;
	-moz-box-shadow: 0 0 10px #4e4e4e;
	-webkit-box-shadow: 0 0 10px #4e4e4e;
}

#general-wait {
	display: none;
	z-index: 10000;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.general-wait-content {
	background-color: rgba(255,255,255,0.9);
	background-position: 8px 8px;
	padding: 8px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
}

#error, #info:hover {
	cursor: pointer;
}

.board {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 18px;
	z-index: 10000;
	font-size: 13px;
	padding: 6px;
	box-shadow: 0 0 8px #4e4e4e;
	-moz-box-shadow: 0 0 8px #4e4e4e;
	-webkit-box-shadow: 0 0 8px #4e4e4e;
}

#error .board {
	background-color: rgba(241,160,160,0.9);
	color: #6b1e1e;
}

#info .board {
	background-color: rgba(248,246,186,0.9);
	color: #5a5107;
}

.messages-hidable,
.options-hidable,
.pep-hidable,
.pubsub-hidable,
.archives-hidable {
	display: none;
}

#reconnect .pane {
	background-color: rgba(20,20,20,0.8);
	color: white;
	padding: 25px;
	z-index: 10000;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	box-shadow: 0 0 35px #232323;
	-moz-box-shadow: 0 0 35px #232323;
	-webkit-box-shadow: 0 0 35px #232323;
}

#reconnect .pane a {
	margin-top: -4px;
	float: right;
}
