/*

Jappix - An open social platform
This is the privacy CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Last revision: 09/02/11

*/

#privacy .content {
	padding: 10px 0 10px 0;
}

#privacy .privacy-head div.list-left,
#privacy .privacy-head div.list-center,
#privacy .privacy-head div.list-right,
#privacy .privacy-first {
	float: left;
}

#privacy .privacy-head div.list-left {
	margin-left: 5px;
}

#privacy .privacy-head div.list-center {
	border-right: 1px dotted #1b393f;
	height: 24px;
	width: 1px;
	margin-right: 15px;
	padding-left: 18px;
}

#privacy .privacy-head span,
#privacy .privacy-head a {
	float: left;
}

#privacy .privacy-head span {
	font-size: 0.9em;
	font-weight: bold;
	margin: 3px 10px 0 0;
}

#privacy .privacy-head input,
#privacy .privacy-head select {
	width: 180px;
}

#privacy .privacy-head input {
	margin-top: 1px;
}

#privacy .privacy-head select {
	margin-top: -2px;
}

#privacy .privacy-head span.left-space {
	margin-left: 16px;
}

#privacy .privacy-head a {
	width: 20px;
	height: 20px;
	padding: 0;
	display: block;
}

#privacy .privacy-head a.list-add {
	background-position: 2px -1178px;
}

#privacy .privacy-head a.list-remove {
	background-position: 2px -1197px;
}

#privacy .privacy-current {
	font-weight: bold;
	font-size: 0.9em;
	margin-left: 10px;
}

#privacy .privacy-first,
#privacy .privacy-second,
#privacy .privacy-third {
	height: 195px;
	font-size: 0.9em;
	margin: 10px 0 0 10px;
	float: left;
}

#privacy .privacy-first,
#privacy .privacy-second {
	border-right: 1px dotted #1b393f;
	padding-right: 14px;
}

#privacy .privacy-first {
	width: 125px;
}

#privacy .privacy-first label {
	margin: 50px 0 0 15px;
}

#privacy .privacy-first label input {
	margin-top: 2px;
}

#privacy .privacy-second {
	width: 205px;
}

#privacy .privacy-second input[type=radio],
#privacy .privacy-third input[type=checkbox] {
	margin-top: 2px;
	margin-bottom: 2px;
}

#privacy .privacy-second input[type=text],
#privacy .privacy-second select {
	width: 170px;
	margin-bottom: 6px;
	float: none;
}

#privacy .privacy-third label {
	width: auto;
	margin-top: 11px;
}

#privacy .privacy-third {
	width: 240px;
}

#privacy .infos {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	clear: both;
}
