/*

Jappix - An open social platform
This is the privacy CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 25/12/10

*/

#privacy .content {
	padding: 10px 0 10px 0;
}

/* TODO */
