/*

Jappix - An open social platform
This is the Roster Item Exchange tool CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 04/02/11

*/

#rosterx .content {
	padding: 10px 0 10px 0;
}
