/*

Jappix - An open social platform
This is the smileys CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 26/10/10

*/

div.emoticon {
	width: 16px;
	height: 16px;
	margin: 2px;
	float: left;
}

div.emoticon:hover {
	opacity: 0.8;
	cursor: pointer;
}

span.emoticon {
	font-size: 14px;
	padding: 0 0 0 16px;
	margin: 0 4px;
}

.emoticon-angry {
	background-position: 0 0;
}

.emoticon-bat {
	background-position: 0 -18px;
}

.emoticon-beer {
	background-position: 0 -36px;
}

.emoticon-biggrin {
	background-position: 0 -54px;
}

.emoticon-blush {
	background-position: 0 -72px;
}

.emoticon-boy {
	background-position: 0 -90px;
}

.emoticon-brflower {
	background-position: 0 -108px;
}

.emoticon-brheart {
	background-position: 0 -126px;
}

.emoticon-coffee {
	background-position: 0 -144px;
}

.emoticon-coolglasses {
	background-position: 0 -162px;
}

.emoticon-cry {
	background-position: 0 -180px;
}

.emoticon-cuffs {
	background-position: 0 -198px;
}

.emoticon-devil {
	background-position: 0 -216px;
}

.emoticon-drink {
	background-position: 0 -234px;
}

.emoticon-flower {
	background-position: 0 -252px;
}

.emoticon-frowning {
	background-position: 0 -270px;
}

.emoticon-girl {
	background-position: 0 -288px;
}

.emoticon-heart {
	background-position: 0 -306px;
}

.emoticon-hugleft {
	background-position: 0 -324px;
}

.emoticon-hugright {
	background-position: 0 -342px;
}

.emoticon-kiss {
	background-position: 0 -360px;
}

.emoticon-lamp {
	background-position: 0 -378px;
}

.emoticon-lion {
	background-position: 0 -396px;
}

.emoticon-mail {
	background-position: 0 -414px;
}

.emoticon-moon {
	background-position: 0 -432px;
}

.emoticon-music {
	background-position: 0 -450px;
}

.emoticon-oh {
	background-position: 0 -468px;
}

.emoticon-phone {
	background-position: 0 -486px;
}

.emoticon-photo {
	background-position: 0 -504px;
}

.emoticon-puke {
	background-position: 0 -522px;
}

.emoticon-pussy {
	background-position: 0 -540px;
}

.emoticon-rainbow {
	background-position: 0 -558px;
}

.emoticon-smile {
	background-position: 0 -576px;
}

.emoticon-star {
	background-position: 0 -594px;
}
.emoticon-stare {
	background-position: 0 -612px;
}

.emoticon-thumbdown {
	background-position: 0 -630px;
}

.emoticon-thumbup {
	background-position: 0 -648px;
}

.emoticon-tongue {
	background-position: 0 -666px;
}

.emoticon-unhappy {
	background-position: 0 -684px;
}

.emoticon-wink {
	background-position: 0 -702px;
}
