/*

Jappix - An Open Î¼Social Platform
This is the tools CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Vanaryon
Contact: http://project.jappix.com/contact
Last revision: 17/07/10

*/

#top-content .tools-all {
	float: right;
	text-align: right;
	margin-left: 8px;
	font-size: 0.9em;
	color: black;
}

#top-content .tools {
	background-color: rgba(232,241,243,0.6);
	padding: 3px 8px 5px 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

#top-content .tools a {
	color: black;
	padding: 0 2px;
}

#top-content .tools a:hover {
	cursor: pointer;
	text-decoration: underline;
}

#top-content .links-tools {
	margin-left: 0;
}

#top-content .links-tools div {
	padding: 3px 8px 5px 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
}

#top-content .messages-tools div {
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
}

#top-content .notifications:hover,
#top-content .music:hover {
	cursor: pointer;
}

#top-content .music:hover,
#top-content .notifications:hover {
	background-color: rgba(232,241,243,0.7);
}

#top-content .music:active,
#top-content .notifications:active {
	background-color: rgba(232,241,243,0.8);
}

#top-content .actived,
#top-content .actived:hover,
#top-content .actived:active {
	background-color: rgba(232,241,243,0.9) !important;
	color: #ac0505 !important;
}

#top-content .actived a {
	color: #ac0505 !important;
}

#top-content .notifications.actived {
	text-decoration: blink;
}

#top-content .tools-content {
	width: 220px;
	display: none;
	position: absolute;
	top: 26px;
	margin-left: -7px;
}

.tools-content-subarrow {
	background-position: 0 -234px;
	opacity: 0.8;
	height: 10px;
	width: 18px;
	margin-left: 12px;
}

.tools-content-subitem {
	background-color: rgba(0,0,0,0.8);
	padding: 6px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.tools-content .top {
	height: 12px;
	margin: -6px 0 7px 0;
}

.tools-content .top a {
	color: white !important;
	font-size: 0.8em !important;
}

.tools-content .top a:hover {
	text-decoration: none !important;
}

.music-content .tools-content-subitem {
	height: 260px;
}

.music-content .player {
	background-color: #b5d5db;
	height: 20px;
	padding: 2px 5px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}

.music-content .control {
	margin: 2px;
	height: 16px;
	width: 16px;
	float: left;
}

.music-content .control:hover {
	cursor: pointer;
	opacity: 0.8;
}

.music-content .stop {
	background-position: 0 -258px;
}

.music-content .list {
	background-color: #e8f1f3;
	height: 198px;
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
}

.music-content .list-content {
	margin: 5px;
}

.music-content p.no-results {
	display: none;
	color: black;
	font-size: 0.9em;
}

.music-content .song {
	display: block;
	margin: 3px 0;
	font-size: 0.8em;
}

.music-content .playing {
	font-weight: bold;
}

.music-content .search {
	background-color: #e8f1f3;
	height: 25px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.music-content .middle .search input {
	margin: 2px;
	width: 198px;
}

.notifications-content .middle {
	max-height: 247px;
	color: white;
	text-align: left;
	overflow-x: none;
	overflow-y: auto;
}

.notifications-content .nothing {
	font-size: 0.9em;
	margin: 5px;
}

.notifications-content .one-notification {
	padding: 8px 4px;
	font-size: 0.9em;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.notifications-content .one-notification:hover {
	background-color: rgba(255,255,255,0.1);
}

.notifications-content .one-notification:active {
	background-color: rgba(255,255,255,0.2);
}

.notification-actions {
	margin: 2px 6px;
}

.notification-actions a {
	margin-right: 10px;
	font-weight: bold;
	font-size: 0.9em;
	color: white !important;
}
