/*

Jappix - An open social platform
This is the welcome tool CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou
Contact: http://project.jappix.com/contact
Last revision: 28/12/10

*/

#welcome .infos {
	margin: 15px;
}

#welcome .infos p {
	margin-top: 6px;
}

#welcome .infos p.infos-title {
	margin-top: 0;
}

#welcome a.box {
	background-color: #dbe7ea;
	border: 1px solid #ccdbde;
	margin: 12px 11px 4px 15px;
	padding: 10px;
	width: 270px;
	text-decoration: none;
	float: left;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#welcome a.box:hover,
#welcome a.box:focus {
	border: 1px solid #afc9d0;
}

#welcome a.box:active {
	border: 1px solid #95b1b7;
}

#welcome a.box.enabled {
	background-color: #c7d5d9;
	border: 1px solid #b9cbcf;
}

#welcome a.box span {
	margin: 3px 0;
	display: block;
}

#welcome a.box span.option {
	font-size: 0.9em;
	font-weight: bold;
}

#welcome a.box span.description {
	font-size: 0.7em;
	margin-top: 7px;
}

#welcome a.box span.image {
	height: 16px;
	width: 16px;
	margin: -30px 12px 0 0;
	float: right;
}

#welcome a.box span.image.sound {
	background-position: 0 -900px;
}

#welcome a.box span.image.geolocation {
	background-position: 0 -658px;
}

#welcome a.box span.image.xmpp {
	background-position: 0 -990px;
}

#welcome a.box span.image.archives,
#page-engine .text .tools-archives {
	background-position: 0 -1025px;
}

#welcome a.box span.image.offline {
	background-position: 0 -80px;
}

#welcome a.box span.tick {
	background-position: 0 -1661px;
	height: 16px;
	width: 16px;
	margin: -52px -15px 0 0;
	display: none;
	float: right;
}

#welcome a.box.enabled span.tick {
	display: block;
}

#welcome div.results {
	margin: -7px 15px;
	padding: 0;
	height: 272px;
	overflow: auto;
}

#welcome div.logo {
	margin: 26px auto;
	width: 190px;
	height: 214px;
}

#welcome .bottom .finish.save {
	display: none;
}
