# Jappix - The instant messaging. Reinvented.
# This is the main configuration file of Jappix

# ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

# Licence : AGPL
# Author : Valérian Saliou
# Contact : mailing-list[at]jappix[dot]com
# Last revision : 05/04/10

# ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

# BEGIN Rewrite
	<IfModule mod_rewrite.c>
		RewriteEngine On
		RewriteRule bind http://bind.jappix.com:8180/BOSH/ [P]
	</IfModule>
# END Rewrite

# BEGIN Deflate
<IfModule mod_deflate.c>
	<FilesMatch "\.(js|css|php|svg|html|htm|xhtml|txt|xml)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>
# END Deflate

# BEGIN Headers
<IfModule mod_headers.c>
	<FilesMatch "\.(gif|jpg|jpeg|png|bmp|ico|svg|css|js)$">
		Header set Cache-Control "max-age=2592000, public"
	</FilesMatch>
</IfModule>
# END Headers
