/*

Jappix - An open social platform
This is the discovery CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou

*/

#jingle {
    background: #f4f4f4;
    text-shadow: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

#jingle .sidebar {
    background: #000000;
    background: rgba(0,0,0,0.8);
    border-right: 1px solid black;
    width: 180px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

#jingle .sidebar .logo {
    width: 140px;
    height: 40px;
    margin: 10px 0 0 17px;
    display: block;
}

#jingle .sidebar .controls {
    margin-top: 40px;
}

#jingle .sidebar .controls a {
    color: #ffffff;
    text-decoration: none;
    margin: 2px 0;
    padding: 6px 0 6px 50px;
    display: block;
}

#jingle .sidebar .controls a:hover,
#jingle .sidebar .controls a:focus {
    background-color: rgba(255,255,255,0.1);
}

#jingle .sidebar .controls a:active {
    background-color: rgba(255,255,255,0.2);
}

#jingle .sidebar .controls a.chat {
    background-position: 14px -43px;
}

#jingle .sidebar .controls a.stop {
    background-position: 14px -76px;
}

#jingle .sidebar .controls a.mute {
    background-position: 16px -110px;
}

#jingle .local_video {
    background: #eeeeee;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 240px;
    height: 135px;
    opacity: 0.9;
    z-index: 3;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s;
}

#jingle .local_video:hover {
    width: 320px;
    height: 180px;
    opacity: 1;
}

#jingle .remote_video {
    width: 100%;
    margin-top: -10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}