/*

Jappix - An open social platform
This is the directory tool CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou

*/

#directory .content {
    padding: 10px 0 10px 0;
}
