/*

Jappix - An open social platform
This is the discovery CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou

*/

#jingle .videobox {
    background: #ffffff;
    position: fixed;
    left: 40px;
    right: 40px;
    top: 60px;
    bottom: 60px;
    z-index: 1000;
}
